<h1 class="banner">Please log in</h1>
<form action="/users/login" method="post" class="form-container>

  <div class="form-title">
    <label for="username">username</label>
    <input type="text" name="username" class="form-field">
  </div>

  <div class="form-title">
    <label for="password">password</label>
    <input type="text" name="password" class="form-field">
  </div>

  <div class="submit-container">
    <input type="submit" value="Submit" class="submit-button">
  </div>

</form>

<!--
<form class="form-container">
<div class="form-title"><h2>Sign up</h2></div>
<div class="form-title">Name</div>
<input class="form-field" type="text" name="firstname" /><br />
<div class="form-title">Email</div>
<input class="form-field" type="text" name="email" /><br />
<div class="submit-container">
<input class="submit-button" type="submit" value="Submit" />
</div>
</form> -->
